
      <!-- Jumbotron -->
      <div class="jumbotron">
        <h1>¡Ordena comida a domicilio en Puebla!</h1>
        <p class="lead">Comida JHOMAF ofrece los mejores mariscos de la Ciudad al mejor precio, <br/>haz tu pedido entre semana y recibelo en tu hogar el sábado. </p>
        <a class="btn btn-large btn-success" href="#">Revisa nuestro menú</a>
		<br/>
      </div>
		<div class="row">
			<div class="span12">
				<div class="span2 offset1">
					<img src="http://i1321.photobucket.com/albums/u543/Julio_Ahuactzin/comida5_zpsdd03717d.jpg"/>
					<p style="text-align:center"><a href="">Cremas</a></p>
				</div>
				<div class="span2">
					<img src="http://i1321.photobucket.com/albums/u543/Julio_Ahuactzin/comida4_zpsc72f17c9.jpg"/>
					<p style="text-align:center"><a href="">Spaguetti</a></p>
				</div>
				<div class="span2">
					<img src="http://i1321.photobucket.com/albums/u543/Julio_Ahuactzin/comida3_zpsd1c73f00.jpg"/>
					<p style="text-align:center"><a href="">Paella</a></p>
				</div>
				<div class="span2">
					<img src="http://i1321.photobucket.com/albums/u543/Julio_Ahuactzin/comida6_zps2a6edac4.jpg"/>
					<p style="text-align:center"><a href="">Camarones</a></p>
				</div>
				<div class="span2">
					<img src="http://i1321.photobucket.com/albums/u543/Julio_Ahuactzin/comida1_zps84744d68.jpg"/>
					<p style="text-align:center"><a href="">Lomo adobado</a></p>
				</div>
			</div>
		</div>

      <hr>
	  <div class="span8 offset3">
		<h1>¿Cómo ordeno la comida?</h1>
	  </div>
	
      <!-- Example row of columns -->
      <div class="row-fluid">
	    <div class="span4">
          <h2>Paso 1</h2>
          <p>Elige los platillos que desees de nuestro <a href="">menu</a>. </p>
          <p><a class="btn" href="#">Ver menú »</a></p>
        </div>
        <div class="span4">
          <h2>Paso 2</h2>
          <p>Contactanos a través de nuestros teléfonos ó <br/>envianos un correo: <br/>
			 <br/>
			 <strong>Celular:</strong> 222-260-2268, 045-246-460-2210<br/>
			 <strong>Mensaje de texto ó WhatsAPP:</strong> 222-260-2268 <br/>   
			 <strong>Correo:</strong> <a href="">jhoma.fer@hotmail.com </a><br/>
			 Nos pondremos en contacto contigo para confirmar el pedido.
		  </p>
          <p><a class="btn" href="#">Contáctanos »</a></p>
       </div>
        <div class="span4">
          <h2>Paso 3</h2>
          <p>Recibe tu pedido en tu hogar junto con un postre sorpresa, entregas solamente los días sábado de <br/><strong>12PM - 2PM.</strong></p>
          <p><a class="btn" href="#">Galería »</a></p>
        </div>
      </div>

      <hr>

      <div class="footer">
        <p>© Comida JHOMAF 2013</p>
      </div>
