<div class="masthead">
 	<ul class="nav nav-pills pull-right">
    	<li class="active"><a href="#">Inicio</a></li>
        <li><a href="#">Menú</a></li>
        <li><a href="#">Contacto</a></li>
     </ul>
     <h3 class="muted">Comida JHOMAF</h3>
 </div>